In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../messy-electricity-consumption.csv")
df.__delitem__('Unnamed: 0')
df

,Year,Month,Day,1,2,3,4,5,6,7,...,15,16,17,18,19,20,21,22,23,24
0,2020,1,1,15417,14891,14506,14226,14211,14404,14789,...,17429,17569,18263,19149,19052,18766,18344,17726,16786,15799.0
1,2020,1,2,15082,14666,14481,14400,14661,15458,16907,...,18219,18421,19099,19989,19837,19395,18766,17930,16783,15636.0
2,2020,1,3,14772,14219,13922,13810,13997,14742,16154,...,18594,18592,19072,19572,19247,18754,18224,17457,16458,15387.0
3,2020,1,4,14600,14026,13701,13538,13563,13860,14432,...,17306,17357,17894,18489,18396,18040,17735,17225,16491,15696.0
4,2020,1,5,14755,14212,14073,13961,13992,14252,14712,...,17226,17600,18444,19519,19436,19118,18669,17935,16924,15937.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,2020,11,6,13366,12929,12672,12587,12798,13475,14708,...,16283,16566,17005,17793,17531,16948,16333,15676,14827,13974.0
311,2020,11,7,13285,12791,12526,12384,12422,12720,13241,...,14749,15077,15604,16531,16461,16082,15562,15038,14354,13655.0
312,2020,11,8,13026,12600,12319,12149,12153,12367,12765,...,14617,15037,15659,16658,16612,16169,15662,15003,14234,13502.0
313,2020,11,9,12949,12550,12363,12308,12550,13359,14694,...,16529,16844,17342,18243,17978,17326,16607,15788,14842,0.0
314,2020,11,10,13201,12788,12535,12433,12632,13366,14644,...,16853,17160,17621,18450,18175,17489,16750,15963,15060,14126.0

In [3]:
id_var = ["Year","Month","Day"]

t = pd.melt(df,id_var ,var_name="Hour", value_name="Consumption")

t = t.sort_values(by = ["Month","Day"])

In [4]:
t = t.reset_index()

In [5]:
index = (t['Month'] == 2) & (t['Day'] == 29)
index = -index
t = t[index]
t = t.reset_index()

In [6]:
t

      level_0  index  Year  Month  Day Hour  Consumption
0           0      0  2020      1    1    1      15417.0
1           1    315  2020      1    1    2      14891.0
2           2    630  2020      1    1    3      14506.0
3           3    945  2020      1    1    4      14226.0
4           4   1260  2020      1    1    5      14211.0
...       ...    ...   ...    ...  ...  ...          ...
7531     7555   6299  2020     11   10   20      17489.0
7532     7556   6614  2020     11   10   21      16750.0
7533     7557   6929  2020     11   10   22      15963.0
7534     7558   7244  2020     11   10   23      15060.0
7535     7559   7559  2020     11   10   24      14126.0

[7536 rows x 7 columns]

In [7]:
t.to_csv('../cleaned-data-frames/target-electricity-consumption.csv')