In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("df_nyc.csv")
solar = pd.read_csv("solar_data_nys.csv")

In [3]:
df

,Unnamed: 0,name,time,month,day,hourly_temperature,hourly_wind_speed
0,0,"LA GUARDIA AIRPORT, NY US",1,1,1,1.4,5.6
1,1,"LA GUARDIA AIRPORT, NY US",2,1,1,1.2,5.6
2,2,"LA GUARDIA AIRPORT, NY US",3,1,1,1.1,5.5
3,3,"LA GUARDIA AIRPORT, NY US",4,1,1,0.9,5.5
4,4,"LA GUARDIA AIRPORT, NY US",5,1,1,0.8,5.5
...,...,...,...,...,...,...,...
8754,8754,"LA GUARDIA AIRPORT, NY US",19,12,31,2.8,5.9
8755,8755,"LA GUARDIA AIRPORT, NY US",20,12,31,2.6,5.9
8756,8756,"LA GUARDIA AIRPORT, NY US",21,12,31,2.3,5.9
8757,8757,"LA GUARDIA AIRPORT, NY US",22,12,31,2.1,5.8
8758,8758,"LA GUARDIA AIRPORT, NY US",23,12,31,1.8,5.7

In [4]:
solar

      Unnamed: 0  day  month  solar  time
0              0    1      1    0.0     1
1              1    1      1    0.0     2
2              2    1      1    0.0     3
3              3    1      1    0.0     4
4              4    1      1    0.0     5
...          ...  ...    ...    ...   ...
8755        8755   31     12    0.0    20
8756        8756   31     12    0.0    21
8757        8757   31     12    0.0    22
8758        8758   31     12    0.0    23
8759        8759   31     12    0.0    24

[8760 rows x 5 columns]

In [5]:
solar.iloc[1:50,:]

    Unnamed: 0  day  month  solar  time
1            1    1      1    0.0     2
2            2    1      1    0.0     3
3            3    1      1    0.0     4
4            4    1      1    0.0     5
5            5    1      1    0.0     6
6            6    1      1    0.0     7
7            7    1      1    3.0     8
8            8    1      1   21.0     9
9            9    1      1   42.0    10
10          10    1      1  338.0    11
11          11    1      1  440.0    12
12          12    1      1  434.0    13
13          13    1      1  282.0    14
14          14    1      1   96.0    15
15          15    1      1  124.0    16
16          16    1      1   11.0    17
17          17    1      1    0.0    18
18          18    1      1    0.0    19
19          19    1      1    0.0    20
20          20    1      1    0.0    21
21          21    1      1    0.0    22
22          22    1      1    0.0    23
23          23    1      1    0.0    24
24          24    2      1    0.0     1
25          25    2      1    0.0     2
26          26    2      1    0.0     3
27          27    2      1    0.0     4
28          28    2      1    0.0     5
29          29    2      1    0.0     6
30          30    2      1    0.0     7
31          31    2      1   10.0     8
32          32    2      1  105.0     9
33          33    2      1  200.0    10
34          34    2      1  275.0    11
35          35    2      1  326.0    12
36          36    2      1  339.0    13
37          37    2      1  305.0    14
38          38    2      1  169.0    15
39          39    2      1   71.0    16
40          40    2      1   11.0    17
41          41    2      1    0.0    18
42          42    2      1    0.0    19
43          43    2      1    0.0    20
44          44    2      1    0.0    21
45          45    2      1    0.0    22
46          46    2      1    0.0    23
47          47    2      1    0.0    24
48          48    3      1    0.0     1
49          49    3      1    0.0     2

In [6]:
# Removing the last row to make the dimensions the same:
solar.drop(df.tail(0).index,inplace=True)

In [7]:
solar

      Unnamed: 0  day  month  solar  time
0              0    1      1    0.0     1
1              1    1      1    0.0     2
2              2    1      1    0.0     3
3              3    1      1    0.0     4
4              4    1      1    0.0     5
...          ...  ...    ...    ...   ...
8755        8755   31     12    0.0    20
8756        8756   31     12    0.0    21
8757        8757   31     12    0.0    22
8758        8758   31     12    0.0    23
8759        8759   31     12    0.0    24

[8760 rows x 5 columns]

In [8]:
df['solar'] = solar['solar']

In [9]:
df

,Unnamed: 0,name,time,month,day,hourly_temperature,hourly_wind_speed,solar
0,0,"LA GUARDIA AIRPORT, NY US",1,1,1,1.4,5.6,0.0
1,1,"LA GUARDIA AIRPORT, NY US",2,1,1,1.2,5.6,0.0
2,2,"LA GUARDIA AIRPORT, NY US",3,1,1,1.1,5.5,0.0
3,3,"LA GUARDIA AIRPORT, NY US",4,1,1,0.9,5.5,0.0
4,4,"LA GUARDIA AIRPORT, NY US",5,1,1,0.8,5.5,0.0
...,...,...,...,...,...,...,...,...
8754,8754,"LA GUARDIA AIRPORT, NY US",19,12,31,2.8,5.9,0.0
8755,8755,"LA GUARDIA AIRPORT, NY US",20,12,31,2.6,5.9,0.0
8756,8756,"LA GUARDIA AIRPORT, NY US",21,12,31,2.3,5.9,0.0
8757,8757,"LA GUARDIA AIRPORT, NY US",22,12,31,2.1,5.8,0.0
8758,8758,"LA GUARDIA AIRPORT, NY US",23,12,31,1.8,5.7,0.0

In [10]:
df

,Unnamed: 0,name,time,month,day,hourly_temperature,hourly_wind_speed,solar
0,0,"LA GUARDIA AIRPORT, NY US",1,1,1,1.4,5.6,0.0
1,1,"LA GUARDIA AIRPORT, NY US",2,1,1,1.2,5.6,0.0
2,2,"LA GUARDIA AIRPORT, NY US",3,1,1,1.1,5.5,0.0
3,3,"LA GUARDIA AIRPORT, NY US",4,1,1,0.9,5.5,0.0
4,4,"LA GUARDIA AIRPORT, NY US",5,1,1,0.8,5.5,0.0
...,...,...,...,...,...,...,...,...
8754,8754,"LA GUARDIA AIRPORT, NY US",19,12,31,2.8,5.9,0.0
8755,8755,"LA GUARDIA AIRPORT, NY US",20,12,31,2.6,5.9,0.0
8756,8756,"LA GUARDIA AIRPORT, NY US",21,12,31,2.3,5.9,0.0
8757,8757,"LA GUARDIA AIRPORT, NY US",22,12,31,2.1,5.8,0.0
8758,8758,"LA GUARDIA AIRPORT, NY US",23,12,31,1.8,5.7,0.0

In [11]:
x = df['solar'].isna()

In [12]:
df[x]

Empty DataFrame
Columns: [Unnamed: 0, name, time, month, day, hourly_temperature, hourly_wind_speed, solar]
Index: []

In [19]:
def SolarConverter_AllMax_300(solar_radiation, temperature):
    NOCT = 44 # Nominal operating cell temperature
    power_max_at_1000 = 300 # power produced when cell temperature is 20 C
    temp_coefficient = 0.39 # percent per degree celcius
    cell_temperature = temperature + ((NOCT - 20)/800 )*solar_radiation # Cell temperature
    percent_power_reduction = 0.39*(cell_temperature - 20) # Percent power reduced from 20 --> cell temp
    power_at_NOCT_1000_radiation = (1 - percent_power_reduction/100)*power_max_at_1000 # Power produced when solar radiation is 1000 w/m2
    actual_power = power_at_NOCT_1000_radiation*solar_radiation/1000
    return actual_power

In [20]:
df['col_3'] = df[['solar','hourly_temperature']].apply(lambda x: SolarConverter_AllMax_300(*x), axis=1)

In [22]:
df.iloc[1:50,:]

,Unnamed: 0,name,time,month,day,hourly_temperature,hourly_wind_speed,solar,col_3
1,1,"LA GUARDIA AIRPORT, NY US",2,1,1,1.2,5.6,0.0,0.000000
2,2,"LA GUARDIA AIRPORT, NY US",3,1,1,1.1,5.5,0.0,0.000000
3,3,"LA GUARDIA AIRPORT, NY US",4,1,1,0.9,5.5,0.0,0.000000
4,4,"LA GUARDIA AIRPORT, NY US",5,1,1,0.8,5.5,0.0,0.000000
5,5,"LA GUARDIA AIRPORT, NY US",6,1,1,0.7,5.4,0.0,0.000000
6,6,"LA GUARDIA AIRPORT, NY US",7,1,1,0.7,5.4,0.0,0.000000
7,7,"LA GUARDIA AIRPORT, NY US",8,1,1,0.8,5.5,3.0,0.967076
8,8,"LA GUARDIA AIRPORT, NY US",9,1,1,1.2,5.8,21.0,6.746437
9,9,"LA GUARDIA AIRPORT, NY US",10,1,1,1.6,5.8,42.0,13.442260
10,10,"LA GUARDIA AIRPORT, NY US",11,1,1,2.2,6.0,338.0,104.429224
11,11,"LA GUARDIA AIRPORT, NY US",12,1,1,2.8,6.0,440.0,134.059200
12,12,"LA GUARDIA AIRPORT, NY US",13,1,1,3.2,6.1,434.0,132.119408
13,13,"LA GUARDIA AIRPORT, NY US",14,1,1,3.6,6.1,282.0,87.219724
14,14,"LA GUARDIA AIRPORT, NY US",15,1,1,3.7,6.2,96.0,30.307334
15,15,"LA GUARDIA AIRPORT, NY US",16,1,1,3.5,6.1,124.0,39.054122
16,16,"LA GUARDIA AIRPORT, NY US",17,1,1,3.1,6.0,11.0,3.513256
17,17,"LA GUARDIA AIRPORT, NY US",18,1,1,2.8,6.0,0.0,0.000000
18,18,"LA GUARDIA AIRPORT, NY US",19,1,1,2.7,6.0,0.0,0.000000
19,19,"LA GUARDIA AIRPORT, NY US",20,1,1,2.4,6.0,0.0,0.000000
20,20,"LA GUARDIA AIRPORT, NY US",21,1,1,2.2,5.9,0.0,0.000000
21,21,"LA GUARDIA AIRPORT, NY US",22,1,1,1.9,5.8,0.0,0.000000
22,22,"LA GUARDIA AIRPORT, NY US",23,1,1,1.7,5.7,0.0,0.000000
23,23,"LA GUARDIA AIRPORT, NY US",24,1,2,0.9,5.8,0.0,0.000000
24,24,"LA GUARDIA AIRPORT, NY US",1,1,2,1.3,5.6,0.0,0.000000
25,25,"LA GUARDIA AIRPORT, NY US",2,1,2,1.1,5.6,0.0,0.000000
26,26,"LA GUARDIA AIRPORT, NY US",3,1,2,0.9,5.5,0.0,0.000000
27,27,"LA GUARDIA AIRPORT, NY US",4,1,2,0.8,5.5,0.0,0.000000
28,28,"LA GUARDIA AIRPORT, NY US",5,1,2,0.7,5.4,0.0,0.000000
29,29,"LA GUARDIA AIRPORT, NY US",6,1,2,0.6,5.4,0.0,0.000000
30,30,"LA GUARDIA AIRPORT, NY US",7,1,2,0.6,5.4,0.0,0.000000
31,31,"LA GUARDIA AIRPORT, NY US",8,1,2,0.7,5.5,10.0,3.222300
32,32,"LA GUARDIA AIRPORT, NY US",9,1,2,1.1,5.8,105.0,33.434888
33,33,"LA GUARDIA AIRPORT, NY US",10,1,2,1.6,5.8,200.0,62.901600
34,34,"LA GUARDIA AIRPORT, NY US",11,1,2,2.2,6.0,275.0,85.572712
35,35,"LA GUARDIA AIRPORT, NY US",12,1,2,2.7,6.0,326.0,100.668278
36,36,"LA GUARDIA AIRPORT, NY US",13,1,2,3.2,6.2,339.0,104.329657
37,37,"LA GUARDIA AIRPORT, NY US",14,1,2,3.5,6.1,305.0,94.122847
38,38,"LA GUARDIA AIRPORT, NY US",15,1,2,3.6,6.2,169.0,52.940281
39,39,"LA GUARDIA AIRPORT, NY US",16,1,2,3.5,6.0,71.0,22.493716
40,40,"LA GUARDIA AIRPORT, NY US",17,1,2,3.1,6.0,11.0,3.513256
41,41,"LA GUARDIA AIRPORT, NY US",18,1,2,2.8,6.0,0.0,0.000000
42,42,"LA GUARDIA AIRPORT, NY US",19,1,2,2.6,6.0,0.0,0.000000
43,43,"LA GUARDIA AIRPORT, NY US",20,1,2,2.3,6.0,0.0,0.000000
44,44,"LA GUARDIA AIRPORT, NY US",21,1,2,2.1,5.9,0.0,0.000000
45,45,"LA GUARDIA AIRPORT, NY US",22,1,2,1.8,5.8,0.0,0.000000
46,46,"LA GUARDIA AIRPORT, NY US",23,1,2,1.6,5.7,0.0,0.000000
47,47,"LA GUARDIA AIRPORT, NY US",24,1,3,0.9,5.7,0.0,0.000000
48,48,"LA GUARDIA AIRPORT, NY US",1,1,3,1.2,5.6,0.0,0.000000
49,49,"LA GUARDIA AIRPORT, NY US",2,1,3,1.1,5.5,0.0,0.000000